<ion-header>
  <ion-toolbar>
    <ion-title> Fale conosco </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br /><br />
  <ion-item>
    <ion-label position="stacked">Nome</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input maxlength="8"></ion-input>
  </ion-item>
  <ion-item>
    <ion-select placeholder="Assunto">
      <ion-select-option>Sugestão</ion-select-option>
      <ion-select-option>Duvida</ion-select-option>
      <ion-select-option>Reclamação</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Descrição</ion-label>
    <ion-textarea placeholder="Enter more information here..."></ion-textarea>
  </ion-item>
</ion-content>
